[submodule "src/snakehooks"]
	path = src/snakehooks
	url = https://github.com/jlanga/snakehooks
[submodule "src/phylogenomic_dataset_construction"]
	path = src/phylogenomic_dataset_construction
	url = https://bitbucket.org/yanglab/phylogenomic_dataset_construction/
