# Travis configuration file
---
dist: trusty

language: bash

addons:
    apt_packages:
        - build-essential
        - git
        - curl

cache:
    pip:
        - true
    directories:
        - "$HOME/download/"
        - "$HOME/miniconda3_$TRAVIS_OS_NAME"

before_install:
    - bash .travis/travis_before_install.sh

install:
    - bash .travis/travis_install.sh

script:
    - echo $PATH
    - python --version
    - export PATH="$HOME"/miniconda3_"$TRAVIS_OS_NAME"/bin:"$PATH"
    - snakemake --use-conda --jobs 2
